@charset "utf-8";
/* CSS Document */
/* *{ margin:0; padding:0; outline:none; font:12px Arial;text-decoration:none} */
* img{border:none}

/*-----------------------------------------------------------------------*/
body{
	/*background-color: #A6BCA5;/**/
	background-image:url(../img/index/noise.png);/**/
	background-repeat:repeat;	/**/
	background-color:#666666;
}
/*-----------------------------------------------------------------------*/
.wrapper{
	width:950px;
	height:685px;
	margin:auto;
	overflow:hidden;
	/*border: solid 1px #000000;/**/
	margin-top:10px;
	/*background-color:#f3f2ed;/**/
}
/*-----------------------------------------------------------------------*/
#menu {
	width:950px;
	height:34px;	

	background-color:#fff;
	
}


#holder {
display:table;
margin:0 auto;

}

.itens {
  display:table-row;
  padding:0;
  margin:0;
  list-style-type:none;
  white-space:nowrap; 
 	
  }
.itens li {
	display:inline;
	height:34px;
 	
}

.itens a, .itens a:visited {
	display:block;
	float:left;
	padding:5px 16px;/**/
	
	color:#112e40; 
	font-size: 18px;

	background-color:#fff;
	/*border-right:1px solid #112e40; /**/
	/*border-left:1px solid #112e40; /**/
	text-decoration:none;
	background:url(../img/index/separador.png) no-repeat right;
  }

.itens a:hover {
  color:#FF3300; 
  /*background:#08c;/**/
  }
/*-----------------------------------------------------------------------*/

#vitrine{
	background-color:currentcolor; 
	width:950px;
	height:216px;
	/*border: solid 1px green;/*borda*/
}
#vitrine #myGallery{
	overflow:hidden;
	position:relative;
	padding:0px;
	margin:0;
	/*background:#f3f2ed;/**/

}
#vitrine #myGallery img {
	width:540px; 
	height:220px;
	float:left;

}
#vitrine #setas #proximo{
	position:absolute; 
	z-index:80; 
	margin-left: 919px;
	margin-top: 74px;
}

#vitrine #setas #anterior{
	position:absolute; 
	z-index:80; 
	margin-left:0px; 
	margin-top:74px

}
/*-----------------------------------------------------------------------*/

#palco{
	/*background-color:#f3f2ed;/**/
	background-color:#FFFFFF;/**/
	width:950px;
	height:385px;
	overflow: hidden;	
}
/*-----------------------------------------------------------------------*/

#loading_ajax{
	display: block;	
	margin: 0 auto;
	padding-top: 125px;
}
.margem_geral {
	width:915px;
	height:345px;
	/*background-color:#000000;/*azul*/	
	margin:20px 20px;
	overflow:auto;
}
/*-----------------------------------------------------------------------*/

#footer {	
	/*background-image:url(../img/index/footer.jpg);/**/
	/*background-color:red; /*Rosa*/
	width:950px;
	height:46px;
	text-align:center;
}
#footer ul{
	/*background-color:#F36; /*Rosa*/

	height:32px;
	/*float:right;/**/
	margin:5px;
	text-align:center;
}
#footer li{
	display: inline;	
}
#footer li a{
	/*background-color:#FFF; /*Rosa*/
	width:32px;
	height:32px;
	
}
/*-----------------------------------------------------------------------*/

#copyright {	
	text-align:center;
	display:none;
}
#copyright a{	
	/*border:solid 1px blue;/*fim*/
	width:750px;
	height:20px;	
	outline:none;
	color:#9097A7;
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	text-decoration:none;
}
/*-----------------------------------------------------------------------*/
#footer ul.nav li p:hover{
	/*text-decoration:underline;*/
	
	background-color:#FFF;
}
#footer ul.nav {
	width:600px;
	height:50px;
	/*background-color:#FF0; /*Amarelo*/	
	padding-top:00px;
}
#footer ul.nav li{	
	display: inline;
	/*background-color:#3CF; /*Azul*/
	cursor:pointer;/*ok*/
	list-style:none; /*ok*/
		
}
#footer ul.nav li p{
	text-decoration:none;
	color:#28166F;
	font-size:16px;	
	/*background-color:#0F0; /*Verde*/
	display: inline;
	margin-left:10px;
}

/*-----------------------------------------------------------------------*/
#home {
	width:950px;
	height:345px;
	/*background-color:#000000;/*azul*/	
	margin:18px -5px 0px 0px;
	
}
#home .esquerda{
	width:526px;
	height:343px;
	/*background-color:#FF3333;/*azul*/	
	float:left;
	background-image:url(../img/escolas/quadro_maior.png);
	background-repeat:no-repeat;
	margin-top: 3px;
	margin-left: 0px;
}
#home .esquerda .quadro{
	/*background-color:#FF3333;/*azul*/	
	margin:16px 20px;
}
#home .esquerda .quadro .titulo{
	
	height:30px;
	background-color:#112e40;/*azul*/	
	color:#FFFFFF;
	font-size:15px;
	font-weight:600;
	padding-left:10px;
	padding-top:7px;
	
}
#home .esquerda .quadro .conteudo{
	height:228px;

	/*background-color:#FFFFFF;/*azul*/	
	overflow:hidden;
}
#home .esquerda .quadro .descricao{

	height:46px;
	background-color:#a4cde6;/**/	
	color:#FFFFFF;
	font-size:15px;
	padding-left:0px;
}
#home .esquerda .quadro .descricao .setas{
	width:27px;
	height:23px;
	/*background-color:#00FF00;/**/	
	float:left;
	padding-top:10px;
	padding-left:7px;
}
#home .esquerda .quadro .descricao .textos{
	width:418px;
	height:47px;
	/*background-color:#00CC99;/**/	
	float:left;	
	color:#112e40;
	padding-top:2px;
}
#home .esquerda .quadro .descricao .textos p{
	font-weight:600;
	padding-left:3px;
	margin-top:-1px;
}
#home .esquerda .quadro #tudo{
	overflow:hidden;
}


.selected { 
	color:blue; 
	background-color:#00CC00;
	}

#home .direita{
	width:420px;
	height:345px;
	/*background-color:#00CCFF;/*azul*/	
	float:left;
	margin-top:18px;
	margin-left:-9px;
}
#home .direita .quadrante{
	width:210px;
	height:153px;
	/*background-color: #99CC66;/*azul*/	
	float:left;
	margin-top:15px;
	cursor:pointer;

}
#home .direita .quadrante .foto{
	width:62px;
	height:152px;
	/*background-color:#009999;/*azul*/	
	float:left;
}

#home .direita .quadrante .textos{
	float:left;
	/*background-color:#0C3;/**/
	padding-left:3px;
	
}
#home .direita .titulo{
	/*background-color:#0066FF;/**/
	color:#112e40;
	font-size:15px;
	margin-left:0px;
	font-weight:600;
	height: 15px;
	width: 145px;
}
#home  .direita .descricao{
	/*background-color:#0C3;/**/
	width:140px;
	height:75px;
	margin-top:5px;
	font-size:12px;
	text-align:justify;
}



#home .direita .vejamais {
	text-align:right; 
	color:#0066FF; 	
	width:85px;
	height: 19px;
	background-image:url(../img/home/veja_mais.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-left: 57px;
}
#home .direita .vejamais p{
	margin-right: 11px;
    padding-top: 2px;
}


img.valign { 
   height: 100%;
   vertical-align: middle;
   width: 0px;
} 
/*-----------------------------------------------------------------------*/
#curriculuns img{
	margin-top: 34px;
	margin-left: 42px;
}
/*-----------------------------------------------------------------------*/
#portifolio {
	width:910px;
	height:345px;
	/*background-color:#000000;/*azul*/	
	margin:20px 20px;
	
}
#portifolio .esquerda{
	width:360px;
	height:303px;
	/*background-color:#FF3333;/*azul*/	
	float:left;
	padding-left: 18px;
	padding-top: 7px;
	
}
#portifolio .esquerda .barra{
	height: 33px;
	padding-top:9px;
	background-color:#112e40;/*azul*/	
	background-image:url(../img/portifolio/seta.png);
	background-position: 340px 3px;
	
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:15px;
	font-weight:600;
	padding-left:10px;
	margin-top: 5px;
}
#portifolio .esquerda .titulo{
	background-color: #A4CDE6;

	height: 35px;
	padding-top:9px;
	background-image: url(../img/portifolio/seta2.png);
	background-position: 8px 9px;
	background-repeat: no-repeat;
	color: #112E40;
	font-size: 15px;
	font-weight: 600;
	padding-left: 43px;
	margin-top: 5px;

}
#portifolio .direita{
	width:526px;
	height:343px;
	/*background-color:#FF3333;/*azul*/	
	float:left;
	background-image:url(../img/escolas/quadro_maior.png);
	background-repeat:no-repeat;
	margin-top: 3px;
	margin-left: 0px;
}
#portifolio .direita .quadro{
	/*background-color:#FF3333;/*azul*/	
	margin:16px 20px;
}
#portifolio .direita .quadro .titulo{
	
	height:30px;
	padding-top:7px;
	background-color:#112e40;/*azul*/	
	color:#FFFFFF;
	font-size:15px;
	font-weight:600;
	padding-left:10px;
	
}
#portifolio .direita .quadro .conteudo{
	height:228px;

	/*background-color:#FFFFFF;/*azul*/	
	overflow:hidden;
}
#portifolio .direita .quadro .descricao{

	height:46px;
	background-color:#a4cde6;/**/	
	color:#FFFFFF;
	font-size:15px;
	padding-left:0px;
}
#portifolio .direita .quadro .descricao .setas{
	width:27px;
	height:23px;
	/*background-color:#00FF00;/**/	
	float:left;
	padding-top:10px;
	padding-left:7px;
}
#portifolio .direita .quadro .descricao .textos{
	width:418px;
	height:47px;
	/*background-color:#00CC99;/**/	
	float:left;	
	color:#112e40;
	padding-top:0px;

}
#portifolio .direita .quadro .descricao .textos p{
	font-weight:600;
	padding-left:3px;
}
#portifolio .direita .quadro #tudo{
	overflow:hidden;
}


/*-----------------------------------------------------------------------*/
#escolas {
	width:910px;
	height:345px;
	/*background-color:#000000;/*azul*/	
	margin:20px 20px;
	
}
#escolas .esquerda{
	width:360px;
	height:303px;
	/*background-color:#FF3333;/*azul*/	
	float:left;
	padding-left: 18px;
	padding-top: 7px;
	
}
#escolas .esquerda .barra{
	height:42px;
	background-color:#112e40;/*azul*/	
	background-image:url(../img/portifolio/seta.png);
	background-position: 340px 3px;
	
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:15px;
	font-weight:600;
	padding-left:10px;
	margin-top: 5px;
}
#escolas .esquerda .titulo{
	background-color: #A4CDE6;

	height: 42px;
	background-image: url(../img/portifolio/seta2.png);
	background-position: 8px 9px;
	background-repeat: no-repeat;
	color: #112E40;
	font-size: 15px;
	font-weight: 600;
	padding-left: 43px;
	margin-top: 5px;

}
#escolas .direita{
	width:526px;
	height:343px;
	/*background-color:#FF3333;/*azul*/	
	float:left;
	background-image:url(../img/escolas/quadro_maior.png);
	background-repeat:no-repeat;
	margin-top: 3px;
	margin-left: 0px;
}
#escolas .direita .quadro{
	/*background-color:#FF3333;/*azul*/	
	margin:16px 20px;
}
#escolas .direita .quadro .titulo{
	
	height:37px;
	background-color:#112e40;/*azul*/	
	color:#FFFFFF;
	font-size:15px;
	font-weight:600;
	padding-left:10px;
	
}
#escolas .direita .quadro .conteudo{
	height:273px;

	/*background-color:#FFFFFF;/*azul*/	
	overflow:auto;
}
#escolas .direita .quadro .descricao{

	height:46px;
	background-color:#a4cde6;/**/	
	color:#FFFFFF;
	font-size:15px;
	padding-left:0px;
}
#escolas .direita .quadro .descricao .setas{
	width:27px;
	height:23px;
	/*background-color:#00FF00;/**/	
	float:left;
	padding-top:10px;
	padding-left:7px;
}
#escolas .direita .quadro .descricao .textos{
	width:418px;
	height:47px;
	/*background-color:#00CC99;/**/	
	float:left;	
	color:#112e40;
	cursor:pointer;
}
#escolas .direita .quadro .descricao .textos p{
	font-weight:600;
	padding-left:3px;
}

#escolas  a:link, a:visited {
	color:#333333;	
	font: bold 13px "Arial", Verdana, Arial, Helvetica, sans-serif;
}
#escolas  a:hover{
	color:#999999;	
	text-decoration:underline;
}


#escolas  th {
	font: bold 11px "Arial", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../img/bg_header.jpg) no-repeat;
}

#escolas th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#escolas td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


#escolas td.alt {
	background: #effffd;
	color: #000;
	
}

#escolas th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../img/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#escolas td.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../img/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#escolas td.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../img/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#escolas th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../img/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}
/*******************************************************************/

#galerias #galeria{
	/*background-color:#0C3;/**/
	width:380px;
	height:88px;
	/*margin-top:10px;/**/
	margin:11px 31px;/**/
	cursor:pointer;
	float:left;
}
.barragenerica{	
	background-repeat:no-repeat;
	color:#FFFFFF;	
	font-weight:600;
	padding-left:10px;
	font-size:15px;
	background-position: 358px 3px;	
	background-image:url(../img/portifolio/seta.png);
	background-color:#112e40;/*azul*/
}
#galerias #barragalerias{
	height:23px;
	margin-bottom:4px;
}
#galerias #foto{
	float:left;
	width:74px;
	height:67px;
	/*background-color:#009999;/**/
}
#galerias .descricao{
	float:left;
	/*background-color:#0C3;/**/
	padding-left:10px;
	width:296px;
	text-align:justify;
}
/*******************************************************/
#galeria_especifica #titulo{
	height:33px;
	/*background-color:#090;/*verde*/
	padding:10px;
	font-size:14px;
	text-align:center;
	color:#28166F;
}
#galeria_especifica h2{
	font-size:16px;
	font-weight:600;
}
#galeria_especifica #voltar{
	width:50px;
	height:17px;
	/*background-color:#3CF;/*verde*/
	padding:0px;
	font-size:14px;
	cursor:pointer;
	float:right;
}
#galeria_especifica #fotos{
	/*background-color:#F00;/*verm*/
	width:870px;
	height:200px;
	margin-left:41px;
	margin-top:10px;
	
}
#galeria_especifica a img{
	/*background-color:#0C3;/**/
	width:74px;
	height:56px;
	margin:5px;
}

/*-----------------------------------------------------------------------*/

#contato #esquerda{
	width:222px;
	height:158px;
	/*background-color:#0F3;/*azul*/	
	float:left;
	margin-top:100px;
	margin-left:80px;
}
#contato #direita{
	width:483px;
	height:308px;
	/*background-color:#009999;/*azul*/	
	float:left;
}
#contato #direita #form{
	width: 483px;
	height: 308px;
	background-color: white;
	margin: 0 0px;
	padding: 36px 10px 0px 32px;
	background-image:url(../img/escolas/quadro_maior.png);
	background-repeat:no-repeat;

}
#contato #direita #form input{
	height:22px;
	margin-top:10px;
	
}
#contato #direita #form #mensagem{
	width:378px;
	height:178px;
	margin-top:10px;
	
}
#contato #direita #form td{
	font-weight:600;
	font-size:12px;
	text-align:right;
	width:86px;
}

/*-----------------------------------------------------------------------*/
#secreta {
	margin: 0 210px;
	background-position: 79px 51px;
	background-image:url(../img/secreta/secreta_login.png);
	background-repeat:no-repeat;

}
#secreta form{
	margin: 106px 135px;
	/*background-color:#006699;/**/
	
	
	
}
#secreta form input{
	height: 28px;
	margin-top: 0.8px;
	width: 272px;
	margin-bottom: 35px;
	background-color:#fbfbfb;
	vertical-align:middle;
	font-size:15px;
	
}
.img-centralizada{
	margin: 83px 225px;
}